.dropbtn {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  /*border-color: #ff4d0d;
  border-style: solid;
  border-width: 2px;*/
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ff6600;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: rgba(200,200,200,0.7);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
